:root {
    --primary-color: #2863EC;
    --font-color: #0B1630;
    --accent-color: #FEAC32;
    --background-color: #EEF3FE;
    --negative-color: #FF4949;
    --positive-color: #04572a;
    --navbar-color: #712cf9;
    --white-color: #ffffff;
}